{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 100,
    "arrowParens": "avoid",
    "experimentalOperatorPosition": "start",
    "plugins": ["prettier-plugin-sh"],
    "overrides": [
        {
            "files": ["package.json", "package-lock.json", "vite.config.js"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.sh", "*.bash"],
            "options": {
                "spaceRedirects": false
            }
        }
    ]
}
