.build-info {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--color-text-muted);
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;
    pointer-events: auto;
    cursor: default;
    z-index: 1000;

}