/* BUTTONS */

button {
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    transition: background-color 0.15s, color 0.15s, opacity 0.2s, filter 0.2s;
    padding: 0.25rem 0.625rem;
    min-width: 9ch;
    user-select: none;
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    outline: none;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    opacity: 0.2;
    cursor: not-allowed;

    svg {
        filter: grayscale(100%);
    }
}

button:not(:disabled):hover {
    background-color: var(--color-bg-button-focus);
    color: var(--color-text-button-focus);
}

button:not(:disabled):focus-visible {
    outline: 2px solid var(--color-bg-button-focus);
    outline-offset: -2px;
}

button.highlighted {
    background-color: var(--color-bg-highlighted);
    animation: blink 750ms infinite alternate;
}

@keyframes blink {
    0% {
        background-color: var(--color-bg-blink-start);
    }

    100% {
        background-color: var(--color-bg-blink-end);
    }
}

.button-group {
    display: flex;
    justify-content: center;



    &>button {
        min-width: auto;
        flex-basis: max-content;
        padding-inline: 1ch;

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.button--sm {
            color: var(--color-text-button-sm);
            font-weight: normal;

        }

        &.button--xs {
            color: var(--color-text-button-xs);
            font-size: 0.625rem;
        }
    }

    &--connected {
        border-radius: .5rem;
        overflow: hidden;

        > button {
            border-radius: 0;

            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: none;
            }

            &:not(:last-child) {
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &--tight {
        &>button {
            padding-inline: 0.5ch;
        }
    }
}
