/* BUTTONS */

button {
    border-radius: 0.5rem;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    transition: border-color 0.25s;
    padding: 0.25rem 0.625rem;
    min-width: 9ch;
    user-select: none;
}

button:not(:disabled) {
    cursor: pointer;
    background-color: #3d3d3d;
    color: #ffffff;
}

button:not(:disabled):hover {
    background-color: #464646;
    border-color: #646cff;
    color: #ffffff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    z-index: 555;
}

button.highlighted {
    background-color: #ff0000;
    animation: blink 750ms infinite alternate;
}

@keyframes blink {
    0% {
        background-color: #800000;
    }

    100% {
        background-color: #9f9f00;
    }
}

.button-group {
    display: flex;
    justify-content: center;

    &>button {
        min-width: auto;
        flex-basis: max-content;
        padding-inline: 1ch;

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-right-color: #555;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.button--sm {
            color: #ccc;
            font-weight: normal;
        }

        &.button--xs {
            color: #aaa;
            font-size: 0.625rem;
        }
    }

}