/* for debugging */
details {
    code {
        min-width: 24ch;
        display: inline-block;
    }

    .tempPeriods {
        display: grid;
        grid-template-columns: min-content repeat(5, min-content);
        gap: 0.25rem 2rem;
    }

    .tempPeriod {
        display: contents;
    }

    .tempPeriod__data {
        padding: 0.25rem;
        font-size: 0.75rem;
        text-wrap: nowrap;

        .tempPeriod--current & {
            outline: 2px solid #ffffff;
        }

        .tempPeriod--finished & {
            background-color: rgb(0, 70, 0);
            color: #ffffff;
        }
    }
}
