/* for debugging */
.debugging-info {
    code {
        min-width: 24ch;
        display: inline-block;
    }

    .tempPeriods {
        display: grid;
        grid-template-columns: min-content repeat(5, min-content);
        gap: 0.25rem 2rem;
    }

    .tempPeriod {
        display: contents;
    }

    .tempPeriod__data {
        padding: 0.25rem;
        font-size: 0.75rem;
        text-wrap: nowrap;

        .tempPeriod--current & {
            outline: 2px solid var(--color-border-white);
        }

        .tempPeriod--finished & {
            background-color: var(--color-debug-finished-bg);
            color: var(--color-text-button);
        }
    }

    .sound-notifications {
        display: grid;
        grid-template-columns: repeat(6, min-content);
        gap: 0.25rem 1rem;
        font-size: 0.75rem;
    }

    .sound-notifications__header {
        display: contents;
        font-weight: bold;

        span {
            padding: 0.25rem;
            border-bottom: 1px solid var(--color-border-light);
        }
    }

    .sound-notifications__row {
        display: contents;

        &--active {
            code, span {
                background-color: var(--color-debug-active-bg);
                outline: 1px solid var(--color-debug-active-outline);
            }
        }

        code, span {
            padding: 0.25rem;
            text-wrap: nowrap;
            border-bottom: 1px solid var(--color-border-lighter);
        }

        code {
            min-width: auto;
        }
    }

    .sound-playback-log {
        display: grid;
        grid-template-columns: repeat(5, min-content);
        gap: 0.25rem 1rem;
        font-size: 0.75rem;
        margin-top: 0.5rem;
    }

    .sound-playback-log__header {
        display: contents;
        font-weight: bold;

        span {
            padding: 0.25rem;
            border-bottom: 1px solid var(--color-border-light);
        }
    }

    .sound-playback-log__row {
        display: contents;

        code, span {
            padding: 0.25rem;
            text-wrap: nowrap;
            border-bottom: 1px solid var(--color-border-lighter);
        }

        code {
            min-width: auto;
        }
    }
}
