@use 'themes';

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  line-height: 1.3;
  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-bg-body);
  font-synthesis: none;
}

select,
input,
textarea,
button {
  font-family: inherit;
}

body {
  margin: 0;
  padding: 1.25rem;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-accent-hover);
}

h1 {
  line-height: 1.1;
  margin-top: 0;
}

h2,
h3 {
  margin: 0;
}

.controls--tighter {
  margin-bottom: 0.5rem !important;
}

.fw-900 {
  font-weight: 900 !important;
}
